@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    --main-color: #00ff7f;
}

body {
    margin: 0;
    padding: 0;
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
}

nav {
    position: absolute;
    top: 0%;
    left: 0%;
    min-height: 5%;
    max-height: 20%;
    min-width: 100%;
    max-width: 100%;
    background-color: whitesmoke;
    color: #181818;
    overflow: hidden;
    /* GRID */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas: "logo links";
    z-index: 9;
}

nav .logo {
    position: relative;
    text-align: left;
    grid-area: logo;
    margin: auto 10px;
    font-size: 25px;
}

nav .links {
    position: relative;
    text-align: right;
    grid-area: links;
    margin: auto 10px;
}

nav .links a {
    transition: 0.5s;
    text-decoration: none;
    padding: 5px;
    color: #181818;
    background-color: none;
}

nav .links a:hover {
    transition: 0.2s;
    text-decoration: none;
    padding: 5px;
    color: #181818;
    background-color: var(--main-color);
}

nav #mobile-toogler #toogle-menu {
    transition: 0.5s;
    margin: 0;
    background-color: whitesmoke;
    border: none;
    color: #181818;
    outline: none;
}

nav #mobile-toogler #toogle-menu:hover {
    transition: 0.2s;
    margin: 0;
    background-color: whitesmoke;
    font-size: xx-large;
    cursor: pointer;
    color: #181818;
}

nav #mobile-toogler #toogle-menu:focus {
    transition: 0.2s;
    outline: none;
}

#mobile-nav {
    transition: 0.1s;
    position: fixed;
    left: -100%;
    min-width: 80%;
    min-height: 100%;
    max-height: 100%;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    z-index: 10;
}

#mobile-nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: xx-large;
    min-width: 100%;
    max-width: 100%;
}

#mobile-nav a:hover {
    color: var(--main-color);
}

.active {
    transition: 0.1s;
    left: 0% !important;
}

.hidden {
    display: none;
}

.main {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    background-color: #181818;
}